@font-face {
    font-family: "sourcecodepro";
    src: url("/fonts/SourceCodePro-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .navbar {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .navbar > p {
    color: #D58B1D ;
    font-family: "sourcecodepro", Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

  .logo {
    width: 6rem;
  }