@font-face {
  font-family: "sourcecodepro";
  src: url("/fonts/SourceCodePro-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "kaushan";
  src: url("/fonts/KaushanScript-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  /* background-color: black; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* NAVBAR  */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar > a {
  color: #d58b1d;
  font-family: "sourcecodepro", Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
}

.navbar > a:hover {
  cursor: pointer;
  color: #8b1c06;
}

.logo {
  width: 6rem;
}

/* HEADER */
.carte {
  color: #d58b1d;
  margin: 2rem;
  display: flex;
  justify-content: center;
  font-family: "kaushan", Arial, Helvetica, sans-serif;
  font-size: xx-large;
}

/* PLATS CONTAINER */
.plats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.plat {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.plat-img {
  background-color: black;
  background-size: cover;
  width: 85%;
  height: 250px;
  border-radius: 10%;
  transition: transform 0.2s;
}
.plat-img:hover {
  transform: scale(1.1);
}
.plat-title {
  font-size: x-large;
  color: #8b1c06;
  margin-top: 1rem;
  margin-bottom: 6rem;
  font-family: "kaushan";

  font-weight: bold;
  font-style: italic;
}

@media (max-width: 768px) {
  .plat {
    width: 100%;
    padding: 20px;
  }

  .plat-img {
    background-position: center;
    background-repeat: no-repeat;
  }
}

/* //MENU BURGER/ */
.hamburger {
  position: absolute;
  top: 15px;
  right: 15px;
  display: block;
  width: 35px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  z-index: 2;
  transition: transform 0.5s ease;
}

.hamburger.is-active {
  position: fixed;
  top: 15px;
  right: 15px;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #d58b1d;
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-9px, -8px);
}
.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  min-height: 100vh;
  display: none;
  z-index: 1;
  background-color: #8b1c06;

}

.mobile-nav a {
  display: block;
  padding-top: 4rem;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  font-size: xx-large;
  background-color: #8b1c06;
  color: #d58b1d;
  text-decoration: none;
  font-family: "sourcecodepro";
}


.mobile-nav.is-active {
  display: block;
}

@media (min-width: 769px) {
  .mobile-nav {
    display: none;
  }

  .hamburger {
    display: none;
  }
}

@media (max-width: 768px) {
  .navbar {
    display: none;
  }
}




/* HomePage */

@font-face {
  font-family: "sourcecodepro";
  src: url("/fonts/SourceCodePro-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

p {

  font-family: "sourcecodepro", Arial, Helvetica, sans-serif;
  font-weight: bold;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



.navbar {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar > p {
  color: #D58B1D ;
  font-family: "sourcecodepro", Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.logo {
  width: 6rem;
}


.imageBackground{
width : 100%;
height: fit-content;
}

.mid{
display: flex;
background-color: black;
width: 100%;
height: 80px;
position: relative;
top: -4px;
justify-content: center;
}



.slider-wrapper {
margin: 1rem;
position: relative;
overflow: hidden;
width: 60%;
height: 50px;
border-radius: 30px;
}

.slides-container {
height: calc(100vh - 2rem);
width: 100%;
display: flex;
overflow: scroll;
scroll-behavior: smooth;
list-style: none;
margin: 0;
padding: 0;
}

.slide-arrow {
position: absolute;
display: flex;
top: 0;
bottom: 0;
margin: auto;
height: 4rem;
background-color: white;
border: none;
width: 2rem;
font-size: 3rem;
padding: 0;
cursor: pointer;
opacity: 0.5;
transition: opacity 100ms;
}
.imageBackground {
  width: 100%;
  height: fit-content;
}

.mid {
  display: flex;
  background-color: black;
  width: 100%;
  height: 80px;
  position: relative;
  top: -4px;
  justify-content: center;
}

.slide {
  display: flex;
}
.slide > p {
  /* padding-top: 0.8rem; */
  background-color: orange;
  text-align: center;
}

.slider-wrapper {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  width: 30%;
  border-radius: 30px;
}

.slides-container {
  height: calc(100vh - 2rem);
  width: 100%;
  display: flex;
  overflow: scroll;
  scroll-behavior: smooth;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slide-arrow {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 4rem;
  background-color: white;
  border: none;
  width: 2rem;
  font-size: 3rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 100ms;

}

.slide-arrow:hover,
.slide-arrow:focus {

opacity: 1;
}

#slideArrowPrev {
left: 0;
padding-left: 0.25rem;
border-radius: 0 2rem 2rem 0;
}

#slide-arrow-next {
right: 0;
padding-left: 0.75rem;
border-radius: 2rem 0 0 2rem;
}

.slide {
display: flex;
width: 100%;
height: 100%;
flex: 1 0 100%;
justify-content: center;
}

.slide:nth-child(1) {
background-color: orange;
}

.slide:nth-child(2) {
background-color: orange;
}

.slide:nth-child(3) {
background-color: orange;
margin: 0;
}

#bg2{
position : relative;
top : -4px;
}

.infos{
display: flex;
flex-wrap: wrap;
background-color: orange;
width: 100%;
height: 100px;
position: relative;
top: -8px;
align-content: center;
justify-content: space-around;
}


.logoImage{
width : 40px;
height : 40px;

}

#logoMap{
position:relative;

}

#logoFacebook{
position : relative;
}

#logoPendule{
position: relative;

}

#logoX{
position: relative;
}
#logoInstagram{
position: relative;
}

.footer{
  display: flex;
background-color: #8B1C06;
font-family: "sourcecodepro", Arial, Helvetica, sans-serif;
font-weight: bold;
justify-content: center;
  opacity: 1;
}

#slideArrowPrev {
  left: 0;
  padding-left: 0.25rem;
  border-radius: 0 2rem 2rem 0;
}

#slide-arrow-next {
  right: 0;
  padding-left: 0.75rem;
  border-radius: 2rem 0 0 2rem;
}

.slide {
  display: flex;
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
  justify-content: center;
  color: black;
}

.slide:nth-child(1) {
  background-color: orange;
}

.slide:nth-child(2) {
  background-color: orange;
}

.slide:nth-child(3) {
  background-color: orange;
  margin: 0;
}

#bg2 {
  position: relative;
  top: -4px;
}

.infos {
  display: flex;
  padding-right: 6rem;
  padding-left: 6rem;
  background-color: orange !important;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  position: relative;
  top: -8px;
}

.loca > p {
  color: #8b1c06;
}

.clock > p {
  color: #8b1c06;
}

.socialmedia > p {
  color: #8b1c06;
}
.logoImage {
  width: 40px;
  height: 40px;
}

#logoMap {
  position: relative;
}

#logoFacebook {
  position: relative;
}

#logoPendule {
  position: relative;
}

#logoX {
  position: relative;
}
#logoInstagram {
  position: relative;
}

.footer {
  background-color: red;
}

.resto {
  background-color: orange;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
}
.clock {
  background-color: orange;
}

.clock > p {
  background-color: orange;
}

.resto > p {
  background-color: orange;
}

.socialmedia {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: end;
  background-color: orange;
}

.socialmedia > p {
  background-color: orange;
}

.loca {
  background-color: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loca > p {
  background-color: orange;
}

.icons {
  background-color: orange;
}

@media screen and (max-width: 768px) {
  .slider-wrapper {
    width: 55%;
  }

  .slide > p {
    font-size: small;
  }

  .infos {
    margin: 0;
    padding: 0;
  }
  .icons {
    display: flex;
  }
  
  .loca > p {
    font-size: x-small;
    padding-left: 0.5rem;
    text-align: center;
  }

  .clock > p {
    font-size: x-small;
  }
  .socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .socialmedia > p {
    font-size: x-small;
  }
}


@media screen and (min-width: 768px) {
  .slider-wrapper {
    width: 35%;
  }

  .slide > p {
    font-size: small;
  }

  .infos {
    padding-left: 3rem;
  }

}
